body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

.banner {
    background-color: black;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img {
    max-width: 150px;
    height: auto;
}

.banner-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left {
    margin-left:5px;
}

.right{
    margin-right:5px;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    line-height: 1;
    color: #95a0b2;
}

nav {
    background-color: #1e1d24;
    padding: 0px 0;
}

.nav {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    gap: 80px;
}

.nav li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    display: block;
}
  
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: black;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.logo {
    position: absolute;
    top: 70%;
    left: 70%;
    z-index: 10;
    width: 10vw; /* Adjust as needed */
    height: auto;
    pointer-events: none; /* Prevent it from blocking clicks if needed */
}

.carousel-container img {
    height: 720px;
    object-fit: cover;
    width: auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.text-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.text-row {
    background-color: #1e1d24;
    display: flex;
    gap: 5rem; 
    justify-content: center;
    flex-wrap: wrap; 
    max-width: 1200px;
}

.text-blocks {
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
    width: 100%;
}

.text-block {
    flex: 1;
    min-width: 300px;
    max-width: 30%;
    text-align: center;
    color: white;
}

.logo-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-bottom {
    width: 10vw;
    height: auto;
}
